/* Hero */

.hero > img {
  height: 20vh;
  width: 20vh;
  margin-top: 7rem;
  margin-bottom: 6rem;
  border-radius: 100%;
}


.hero > h4 {
  -webkit-text-fill-color: transparent;
  margin-bottom: 6rem;
}


@media screen and (min-width: 720px) {
  .hero > h4 {
    font-size: 4rem;
  }
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}