/* Hero */

.hero {
  height: 35vh;
  background: hsl(204 100% 5%);
  background-position: center;
  background-size: cover;
  margin-top: 7rem;
  margin-bottom: 6rem;
  padding: 3rem;
}

.title--hero {
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: contain;
  text-align: center;
}

.title--hero > h1 {
  -webkit-text-fill-color: transparent;
  margin-bottom: 6rem;
}

.title--hero > h4 {
  color: rgb(228, 228, 228);
}

@media screen and (min-width: 720px) {
  .title--hero > h1 {
    margin-bottom: 10rem;
  }
  .title--hero > h4 {
    font-size: 4rem;
  }
}
